<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | Keaton Kowal</title>
    <link href="../static/temp.css" media="all"
          rel="stylesheet"
          th:href="@{/temp.css}"
          type="text/css"/>
</head>
<body>
    <div class="page bordered-nopad">
        <div class="title">
            <a href="/">
                <h1>Keaton Kowal</h1>
            </a>
        </div>
        <div class="post bordered">
            <h2>Uh-oh!</h2>
            <div class="subtitle">
                <h4 class="title">There's no page here!</h4>
            </div>
        </div>
    </div>
</body>
</html>