<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keaton Kowal</title>
    <link href="../static/temp.css" media="all"
          rel="stylesheet"
          th:href="@{/temp.css}"
          type="text/css"/>
</head>
<body>
    <div class="page bordered-nopad">
        <div class="title">
            <a href="/">
                <h1>Keaton Kowal</h1>
            </a>
        </div>
        <div class="container bordered">
            <div class="sidebar">
                <div class="about">
                    <h2>About Me</h2>
                    <img class="bordered-nopad" src="../static/me.jpeg" alt="" th:src="@{me.jpeg}">
                    <p th:text="#{about.text}">A blurb about me! This may be pretty long, so it should wrap in a nice way.</p>
                </div>
                <div class="contact">
                    <h2>Contact</h2>
                        <a href=".." th:href="#{links.linkedin}">
                            <div class="button bordered-nopad">LinkedIn</div>
                        </a>
                        <a href=".." th:href="#{links.github}">
                            <div class="button bordered-nopad">Github</div>
                        </a>
                </div>
            </div>
            <div class="content">
                <h2>Projects</h2>
                <div class="articles" th:each="article: ${allArticles}">
                    <a href="/home" th:href="'/post/' + ${article.id}">
                        <div class="article bordered">
                            <h2 th:text="${article.title}">Title</h2>
                            <div class="subtitle">
                                <h4 th:text="${article.subtitle}" class="title">Subtitle</h4>
                                <h4 th:text="${article.posted}" class="date">Date</h4>
                            </div>
                            <p th:text="${article.summary}">........</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>