<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post | Keaton Kowal</title>
    <link href="../static/temp.css" media="all"
          rel="stylesheet"
          th:href="@{/temp.css}"
          type="text/css"/>
</head>
<body>
    <div class="page bordered-nopad">
        <div class="title">
            <a href="/">
                <h1>Keaton Kowal</h1>
            </a>
        </div>
        <div class="post bordered">
            <h2 th:text="${post.title}">title</h2>
                <div class="subtitle">
                    <h4 th:text="${post.subtitle}" class="title">Subtitle</h4>
                    <h4 th:text="${post.posted}" class="date">Date</h4>
                </div>
                <p th:utext="${post.contents}">body</p>
                <br>
                <i><h3>Links:</h3></i>
                <div th:each="link : ${links}">
                    <a href=".." th:href="${link.url}">
                        <div class="button bordered-nopad" th:text="${link.text}">link</div>
                    </a>
                </div>
        </div>
    </div>
</body>
</html>